[mail]
smtp_server = 127.0.0.0.1
smtp_port = 465
smtp_user = test@test.out
smtp_password = "hallo"
# either None, SSL or TLS
smtp_security = None

[network]
# callback URL for wallet
callback_url = http://192.168.0.1/api/wallet

[ssi]
# from the jolocom ssi service, see log
did = "did...."
name = "Our new ConDIDI Instance"
description = "We issue demo credentials to you!"
image = "https://oururl.invalid/600px-Example_image.svg.png"
url = "https://oururl.invalid"